:root {
  // base
  --font-family: "Roboto Condensed", sans-serif;
  --content-width: 1200px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --background-color: #e2e2df;
  --background-dark-color: #f8f8f8;
  --dark-green-color: #0d302c;
  --black-color: #000;
  --white-color: #fff;
  --light-green-color: #00b2a0;
  --title-color: #01353e;
  --subtitle-color: #242121;
  --input-color: #dadada;
}
