.gallery {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 200px;
    color: var(--title-color);
    font-family: var(--second-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.6px;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 70px;
      right: -8px;
      top: 16px;
      background-color: var(--light-green-color);
      transform: rotate(17deg);
    }
  }

  &__list {
    margin-bottom: 50px;
  }

  &__item{
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    position: relative;
    color: var(--subtitle-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    transition: color .3s ease-in-out;
    outline: none;

    &::after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--light-green-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease-in-out;
    }

    &:focus {
      color: var(--light-green-color);
    }

    @include hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:not(:hover)::after {
        transform: scaleX(0); /* При уходе мышки элемент сжимается справа налево */
        transform-origin: right; /* Исчезновение справа */
      }
    }

    &:active {
      color: var(--subtitle-color);
    }
  }

  &__btn {
    display: none;
    margin-top: 50px;
    color: var(--subtitle-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    transition: all .3s ease-in-out;

    &-more {
      min-width: 350px;
      padding: 25px;
      border: 1px solid rgb(196, 196, 196);;
    }

    &:focus {
      background-color: var(--light-green-color);
      color: var(--white-color);
    }

    @include hover {
      background-color: var(--light-green-color);
      color: var(--white-color);
    }

    &:active {
      background-color: transparent;
      color: var(--subtitle-color);
    }
  }

  &__list-photo {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img4 img5 img6 img6";
    grid-auto-flow: dense;
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;

    &.active {
      opacity: 1;
      max-height: max-content;
    }
  }

  &__item-photo {
    display: none;
    width: 100%;
    min-height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;

    &--bg-1 {
      grid-area: img1;
      background-image: url(../img/gallery-img-1.jpg);
    }
  
    &--bg-2 {
      grid-area: img2;
      background-image: url(../img/gallery-img-2.jpg);
    }
  
    &--bg-3 {
      grid-area: img3;
      background-image: url(../img/gallery-img-3.jpg);
    }

    &--bg-4 {
      grid-area: img4;
      background-image: url(../img/gallery-img-4.jpg);
    }

    &--bg-5 {
      grid-area: img5;
      background-image: url(../img/gallery-img-5.jpg);
    }

    &--bg-6 {
      grid-area: img6;
      background-image: url(../img/gallery-img-6.jpg);
    }

    &--bg-7 {
      grid-area: img1;
      background-image: url(../img/gallery-img-7.jpg);
    }
  
    &--bg-8 {
      grid-area: img2;
      background-image: url(../img/gallery-img-8.jpg);
    }
  
    &--bg-9 {
      grid-area: img3;
      background-image: url(../img/gallery-img-9.jpg);
    }

    &--bg-10 {
      grid-area: img4;
      background-image: url(../img/gallery-img-10.jpg);
    }

    &--bg-11 {
      grid-area: img5;
      background-image: url(../img/gallery-img-11.jpg);
    }

    &--bg-12 {
      grid-area: img6;
      background-image: url(../img/gallery-img-12.jpg);
    }

    &--bg-13 {
      grid-area: img1;
      background-image: url(../img/gallery-img-13.jpg);
    }
  
    &--bg-14 {
      grid-area: img2;
      background-image: url(../img/gallery-img-14.jpg);
    }
  
    &--bg-15 {
      grid-area: img3;
      background-image: url(../img/gallery-img-15.jpg);
    }

    &--bg-16 {
      grid-area: img4;
      background-image: url(../img/gallery-img-16.jpg);
    }

    &--bg-17 {
      grid-area: img5;
      background-image: url(../img/gallery-img-17.jpg);
    }

    &--bg-18 {
      grid-area: img6;
      background-image: url(../img/gallery-img-18.jpg);
    }

    &--bg-19 {
      grid-area: img1;
      background-image: url(../img/gallery-img-19.jpg);
    }
  
    &--bg-20 {
      grid-area: img2;
      background-image: url(../img/gallery-img-20.jpg);
    }
  
    &--bg-21 {
      grid-area: img3;
      background-image: url(../img/gallery-img-21.jpg);
    }

    &--bg-22 {
      grid-area: img4;
      background-image: url(../img/gallery-img-22.jpg);
    }

    &--bg-23 {
      grid-area: img5;
      background-image: url(../img/gallery-img-23.jpg);
    }

    &--bg-24 {
      grid-area: img6;
      background-image: url(../img/gallery-img-24.jpg);
    }

    &--bg-25 {
      opacity: 0;
      grid-row: 3;
      grid-column: 1 / span 2;
      background-image: url(../img/gallery-img-25.jpg);
    }
  
    &--bg-26 {
      opacity: 0;
      grid-row: 3;
      grid-column: 3;
      background-image: url(../img/gallery-img-26.jpg);
    }
  
    &--bg-27 {
      opacity: 0;
      grid-row: 3;
      grid-column: 4;
      background-image: url(../img/gallery-img-27.jpg);
    }

    &--bg-28 {
      opacity: 0;
      grid-row: 4;
      background-image: url(../img/gallery-img-28.jpg);
    }

    &--bg-29 {
      opacity: 0;
      grid-row: 4;
      grid-column: 2;
      background-image: url(../img/gallery-img-29.jpg);
    }

    &--bg-30 {
      opacity: 0;
      grid-row: 4;
      grid-column: 3 / span 2;
      background-image: url(../img/gallery-img-30.jpg);
    }

    &.show {
      opacity: 1;
    }
  }
}
