.header {
  position: relative;
  background:
    linear-gradient(180deg, rgba(1, 53, 62, 1), rgba(51, 51, 51, 0.6) 31.638%, rgba(51, 51, 51, 0.22) 74.348%, rgba(51, 51, 51, 0) 99.87%),
    url(../img/header-background.webp);
  background-size: cover;
  background-position: center;

  &__top {
    align-items: center;
  }

  &__content {
    flex-direction: column;
    padding-top: 33px;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 60px;
    height: 63px;
    margin-right: 185px;
  }

  &__list {
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    position: relative;
    color: var(--white-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    transition: color .3s ease-in-out;
    outline: none;

    &::after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--light-green-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease-in-out;
    }

    &:focus {
      color: var(--light-green-color);
    }

    @include hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:not(:hover)::after {
        transform: scaleX(0); /* При уходе мышки элемент сжимается справа налево */
        transform-origin: right; /* Исчезновение справа */
      }
    }

    &:active {
      color: var(--white-color);
    }
  }

  &__center {
    padding-top: 236px;
    padding-bottom: 476px;
  }

  &__title {
    display: flex;
    margin: 0;
    justify-content: center;
    color: var(--dark-green-color);
    font-family: var(--second-family);
    font-size: 200px;
    font-weight: 700;
    line-height: 235px;
    letter-spacing: 0.6px;
  }

  &__subtitle {
    display: flex;
    margin: 0;
    justify-content: center;
    color: var(--black-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-align: left;
  }

  &__icon {
    position: absolute;
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 69px;
    fill: var(--white-color);
  }
}